header {
   background-color: pink;
   color:aqua;
}

body {
   background-color: pink;
}

h1 {
   font-size: 20 px;
   color:black;
}

p {
   color:black;
}

h2 {
   color: purple;
}

.listas {
   color: blue;
}

footer {
   background-color: pink;
   color: white;
}
